<h1>Components Demo</h1>

<p><strong>This is some strong text</strong> in a paragraph of regular body
  text. <em>This is emphasized.</em> This paragraph also demos
  <code>inline code blocks</code> and <a href="#">links</a>.</p>

<h2>Header Level 2</h2>

<ol>
   <li>Ordered list item</li>
   <li>Another item</li>
</ol>

<blockquote><p>This is what a blockquote looks like.</p></blockquote>

<h3>Header Level 3</h3>

<ul>
   <li>Unordered list item</li>
   <li>Another item</li>
</ul>

<pre><code>
/* a block of code */
#header h1 a {
  display: block;
  width: 300px;
  height: 80px;
}
</code></pre>

<p><input placeholder="This is a regular input field"/></p>

<textarea>And here's a textarea with enough text to show the scrollbar and its resizer by default. To hide the resizer, you can set "resize: none" with CSS.</textarea>
